html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: wheat;
}

.title {
    margin: 0px;
    padding: 0px;
    font-family: Serif, Sans-serif,Verdana;
    font-size: 50px;
    font-style: italic;
    border: 1px solid;
    color: violet;
    background: gold;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    border: 5px solid gold;
    background: white;
}

.row {
    display: flex; 
    flex: 1;
    padding: 0px;
    margin: 0px;
}

.block {
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex: 1;
}

/* .color {
    background-color: plum;
} div original color */

/* .remove-color {
    background-color: white;
}css to remove class color */

.button-container {
    display: flex;
    gap: 10px;
    margin: 0px;
    padding: 0px;
}

.resize-button,
.rgb-button,
.reset-button {
    font-size: 25px;
    padding: 5px 5px;
    color: pink;
    background: white;
    border-radius: 10px;
    border: 1px solid blue;
    transition-duration: 0.4s;
}
.resize-button:hover,
.rgb-button:hover,
.reset-button:hover {
    background-color: blue;
}
